<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:cc="http://java.sun.com/jsf/composite">

	<cc:interface>
		<cc:attribute name="id" required="true"/>
		<cc:attribute name="label" required="true"/>
		<cc:attribute name="value"/>
	</cc:interface>
	
	<cc:implementation>
		<h:message for="#{cc.attrs.id}"/>
		<h:outputLabel value="#{cc.attrs.label}" for="#{cc.attrs.id}"/>
		<h:inputText id="#{cc.attrs.id}" value="#{cc.attrs.value}"/>
	</cc:implementation>
</html>